{% extends "block.html.twig" %}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home">
      <img class="brand" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
