<div class="page">
  <div class="page-section one">
    {{ page.information_one }}
  </div>
  <div class="page-section two">
    {{ page.brand }}
    {{ page.navigation_one }}
  </div>
  <div class="page-section three">
    {{ page.title }}
  </div>
  <div class="page-section four">
    {{ page.navigation_two }}
    {{ page.content }}
    {{ page.related }}
  </div>
  <div class="page-section five">
    {{ page.information_two }}
  </div>
  <div class="page-section six">
    {{ page.copyright }}
  </div>
</div>
